<ion-view view-title="Rapid Recipe">
  <ion-content class="padding">
<!--LOGIN SECTION-->
  <div class="card" ng-hide="loggedIn">
    <div class="item item-text-wrap">
      <p>Please sign in to continue</p>
      <button class="button button-block icon-left ion-social-facebook fb-theme">Facebook</button>
      <button 
        class="button button-dark button-block icon-left ion-email white" 
        ng-click="openLogin()">Email
      </button>
      <div class="center">
        <a ng-click="openSignup()" class="pointer">New Account</a>
      </div>
    </div>
  </div>
<!--SEARCH-->
  <div class="card" ng-hide="!loggedIn">
    <div class="list list-inset no-margin">
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper input-height">
            <input
              ng-model="query.text" 
              type="text" 
              placeholder="Search">
          </label>
          <button
            ng-click="search(query)"
            type="submit" 
            class="button button-small input-height">Submit
          </button>
        </div>
      </div>
    </div>
  </div>
<!--ADV SEARCH-->
  <div ng-hide="searchCompleted">
    <p><u>Advanced Search</u></p>
    <p ng-click="goToMyFridge()" class="pointer">
      <i class="ion-arrow-right-b"></i> Search by ingredients in fridge
    </p>
    <p ng-click="random()" class="pointer">
      <i class="ion-arrow-right-b"></i> Random recipe
    </p>
  </div>
<!--OUTPUT-->
  <div class="card" ng-hide="!searchCompleted">
    <div class="item item-text-wrap">
      <div class="list no-margin">
        <a class="item item-thumbnail-left" href="#" ng-repeat="r in recipes">
          <img ng-src="{{r.image_url}}">
          <h2>{{r.title}}</h2>
        </a>
      </div>
      <div class="line"></div>
      <button 
        class="button button-stable button-block" 
        ng-click="pagNext()">Next
      </button>
      <button
        ng-hide="!previous" 
        class="button button-stable button-block" 
        ng-click="pagPrevious()">Previous
      </button>
      <button 
        class="button button-light button-block" 
        ng-click="reset()">Back
      </button>
    </div>
  </div>

  </ion-content>
</ion-view>


