html, body {
	font-family: "Righteous" !important;
}
/*COLORS*/
.app-theme{
	background-color: #ff8533 !important;
	color: #fff !important;
}
.fb-theme{
	background-color: #3B5998;
	color: #fff;
	font-family: "Righteous" !important;
}
.fb-theme:hover{
	background-color: #3B5998;
	color: #fff;
}
.white{
	color: #fff !important;
	font-family: "Righteous" !important;
}
/*HELPERS*/
.center{
	text-align: center !important;
}
.pointer{
	cursor: pointer;
}
.no-margin{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.input-height{
	height: 47px !important;
}
.line{
	width: 100%;
	height: 1px;
	background-color: #dddddd;
}
/*MISC*/
.or{
	padding-top: 15px;
	padding-bottom: 15px;
}
